.pointer {
    cursor: pointer;
}

.phone-block {
    height: 36px;
}

.modal {
    display: block;
}

/* animation */

.phone-enter-active, .phone-leave-active {
    transition: all .3s;
}

.phone-enter, .phone-leave-to {
    transform: translate3d(50px, 0, 0);
    opacity: 0;
}

.modal-enter-active, .modal-leave-active {
    transition: all .3s;
}

.modal-enter, .modal-leave-to {
    transform: translateY(-100px);
    opacity: 0;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-active {
    animation: 0.3s fade forwards;
}

.fade-leave-active {
    animation: 0.3s fade reverse;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}